* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: #000;
}

header {
    width: 100vw;
    padding: 20px 30px;
    background: #000;
}

.container-01 {
    display: flex;
    justify-content: space-between;
}

.lilac-banner {
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.lilac-icon {
    width: 60px;
    height: 60px;
    background: url("./images/lilacLogo.png");
    background-size: 190%;
    background-position: center;
    border-radius: 15px;
}

a {
    cursor: pointer;
    font-family: "Stack Sans Text";
    font-weight: 500;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.spacer-01 {
    width: 30px;
}

.button-fg {
    padding: 5px;
    color: #fff;
    border-radius: 10px;
}

.button-fg:hover {
    color: #9c84db;
}

.button-bg {
    display: flex;
    align-items: center;
    padding: 12px 50px;
    background: linear-gradient(115deg, white, #2c2c2c);
    color: #000;
    border-radius: 100px;
    font-size: 18px;
}

.hint {
    background: linear-gradient(115deg, white, #d2c2ff) !important;
    color: #000;
}

.sub-header-div {
    width: 100vw;
    height: 2px;
    display: block;
    background: linear-gradient(90deg, #000, #2c2c2c, #2c2c2c, #000);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 54vh;
    overflow-x: hidden;
}

main::before {
    content: '';
    --size: 170px;
    z-index: -1;
    position: absolute;
    left: calc(50% - var(--size) / 2);
    transform: translateY(-50%);
    width: var(--size);
    height: 0.0001px;
    border-radius: 50%;
    box-shadow: 0px 0px 9999999px 100px #ccc9d4aa;
}

h1:not(.title) {
    font-size: 6rem;
    font-family: "Stack Sans Text";
    color: #fefefe;
}

h2:not(.title) {
    font-size: 1.6rem;
    font-family: "Stack Sans Text";
    letter-spacing: 5px;
    color: #a29fab;
}

.button-row {
    padding-top: 20px;
    display: flex;
    width: 100%;
    gap: 20px;
}

.button-row:not(.left) {
    justify-content: center;
}

.embed {
    border-radius: 30px;
    margin-left: 2.5vw;
    width: 95vw;
    min-height: 10vh;
    background: linear-gradient(115deg, #f4e8ff, #43354f);
    color: #150e1a !important;
}

section#about {
    background: transparent;
    padding: 20px 0;
}

section#about .container {
    padding: 60px 120px;
    display: flex;
}

section#about .container .left-side {
    width: 45%;
}

h2.title {
    font-family: "Stack sans text";
    font-size: 2.6rem;
}

.embed p {
    padding-top: 10px;
    font-family: "Noto Serif";
    font-size: 19px;
}
